.app-select__control {
  border-color: var(--border-dark) !important;
  border-radius: 12px !important;
  min-height: 45px !important;
}

.app-select__value-container {
  padding-left: 16px !important;
}
